:root{
    --primairy-colour: ;
    --secondary-colour: ;
    --background-colour: ;
    --text-colour: ;
}

body{
    background-color: lightblue;
}

header{
    height: 200px;
    background-color: aquamarine;
}

main{
    height: 600px;
    background-color: plum;
}

footer{
    height: 200px;
    background-color: aqua;
}