* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f3f3;
}

/* NAVBAR */


.navbar {
    position: sticky;
    top: 0;

    background: #162a36;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    color: white;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}


/* HERO */

.hero {
    height: 500px;

    background-image:
        linear-gradient(rgba(20, 40, 55, 0.6), rgba(20, 40, 55, 0.6)),
        url("images/indoorboulder.jpg");

    background-size: auto;
    background-position: center;

    display: flex;
    align-items: center;
}

.hero-content {
    color: white;
    max-width: 600px;
    margin-left: 80px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background: #c9e265;
    padding: 14px 28px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

/* CATEGORY SECTION */

.categories {
    padding: 60px 80px;
    text-align: center;
}

.categories h2 {
    margin-bottom: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-text {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 20px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    width: 100%;
}

/* FOOTER */

.footer {
    background: #162a36;
    color: white;
    padding: 50px 80px;

    text-align: center;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    justify-items: center;
}